/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f0; /* Light green background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff; /* White container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2e8b57; /* Green heading */
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    text-align: center;
    color: #333333; /* Dark text color */
}

strong {
    font-weight: bold;
}
/* styles2.css */

/* Edit button */
.edit-btn {
    background-color: #2e8b57; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.edit-btn:hover {
    background-color: #45a049;
}

/* Delete button */
.delete-btn {
    background-color: #2e8b57; /* Red */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;

}

.delete-btn:hover {
    background-color: #45a049;
}
